
[submodule "packages/transmute-cli/components/openfaas/faas-netes"]
	path = packages/transmute-cli/components/openfaas/faas-netes
	url = https://github.com/openfaas/faas-netes.git
[submodule "packages/transmute-dashboard/production"]
	path = packages/transmute-dashboard/production
	url = https://github.com/transmute-industries/dashboard.transmute.network.git
