node_modules
lerna-debug.log

level_db
read_model_storage

.cert

plainTextKeyStore.json
encryptedAccount.json

*.DS_STORE

backup

on_deck

packages/transmute-contracts/build/contracts
packages/transmute-framework/src/contracts