node_modules
lerna-debug.log

level_db
read_model_storage

.cert

plainTextKeyStore.json
encryptedAccount.json

*.DS_STORE

backup

on_deck

packages/transmute-framework/src/contracts/
packages/transmute-dashboard/src/contracts/
packages/transmute-dashboard/src/okta_config.js
packages/transmute-framework/build/

scratch

okta.env.sh

okta.pem

*.key
*.crt
*.cid

.env

attic
