
[submodule "components/openfaas/faas-netes"]
	path = components/openfaas/faas-netes
	url = https://github.com/openfaas/faas-netes.git

[submodule "transmute-industries.github.io"]
	path = transmute-industries.github.io
	url = https://github.com/transmute-industries/transmute-industries.github.io.git
