.footer-container {
    background: url('../../../images/icons/footer-line@2x.png') no-repeat center 0;
    background-size: 100%;
    padding-top: 32px;
    /* background-color: #1E2C38; */
}

.footer-container .made-with {
    padding-top: 22px;
}

.footer-container .copyright {
    color: rgb(201, 201, 201);
    margin-bottom: 32px;
}

.footer-container h2 {
    text-transform: uppercase;
    margin-bottom: 32px;
    font-size: 1.25em;
    font-weight: 600;
}

.footer-container .ui.link.list .item,
.ui.link.list .item a:not(.ui),
.ui.link.list a.item {
    padding-bottom: 32px;
    font-size: 1.00em;
}

.footer-container .ti-footer-logo {
    width: 172px;
}

.f6s-button {
    /* width: 78px;
    height: 22px; */
    width: 110px
}


/* .footer-container .ui.list .list>a.item:hover .icon,
.ui.list>a.item:hover .icon {
    color: rgba(0, 196, 186, 0.8);
}

.footer-container .ui.link.list a.item:hover,
.ui.link.list .item a:not(.ui):hover {
    color: rgba(0, 196, 186, 0.8);
} */
