* {
  box-sizing: border-box;
}
html, body, #root {
 height: 100%;
}
.dot-header{
  margin-top: 30px;
  margin-bottom: 30px;
}
.ico-dots { background-image: url('./images/icons/sprite.@2x.png'); background-position: 100% 0%; background-size: 171.5909090909091% 942.8571428571429%; width: 88px; height: 7px; display: inline-block; vertical-align: middle; font-size: 0; }