@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');


html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

#root {
    height: 100%;
}

#root > div  {
    height: 100%;
}

