.navbar {
    padding-top: 16px;
}

.navbar img {
    padding-left: 16px !important;
}
.navbar a {
    padding-top: 5px;
}
.navbar .ui.menu {
    padding-right: 16px;
}


.navbar .ui.menu .item {
    color: #fff !important;
    font-size: 1.25em;
}

.navbar .ui.secondary.pointing.menu {
    border-bottom: none !important;
}

.navbar .ui.secondary.pointing.menu .active.item {
    border-color: #549fa8 !important;
}