.intro-container {
    padding: 32px;
}

.ti-intro-block {
    padding: 16px;
}

.ti-divider {
    background: url('../../../images/icons/footer-line@2x.png') no-repeat center 0;
    background-size: 100%;
    margin-top: 64px;
    padding-top: 64px;
}
