*
!lib/**/*
!lib-esm/**/*
!lib-fesm/**/*
!umd/**/*
!typings/**/*
!package.json
!README.md
!LICENSE.md
!build/**/*
!contracts/**/*
!migrations/**/*
!test/**/*
!firebase-client-config.json

# Be careful not to publish secrets!
.transmute
environment.secret.env
firebase-service-account.json
