body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.transmute-create-react-app .xm1 {
    text-decoration: none;
    color: white;
}

.transmute-create-react-app .xm2 {
    width: 100%;
    height: 100%;
}