/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'transmute';
@reset      : 'transmute';

/* Elements */
@button     : 'transmute';
@container  : 'transmute';
@divider    : 'transmute';
@flag       : 'transmute';
@header     : 'transmute';
@icon       : 'transmute';
@image      : 'transmute';
@input      : 'transmute';
@label      : 'transmute';
@list       : 'transmute';
@loader     : 'transmute';
@rail       : 'transmute';
@reveal     : 'transmute';
@segment    : 'transmute';
@step       : 'transmute';

/* Collections */
@breadcrumb : 'transmute';
@form       : 'transmute';
@grid       : 'transmute';
@menu       : 'transmute';
@message    : 'transmute';
@table      : 'transmute';

/* Modules */
@accordion  : 'transmute';
@checkbox   : 'transmute';
@dimmer     : 'transmute';
@dropdown   : 'transmute';
@embed      : 'transmute';
@modal      : 'transmute';
@nag        : 'transmute';
@popup      : 'transmute';
@progress   : 'transmute';
@rating     : 'transmute';
@search     : 'transmute';
@shape      : 'transmute';
@sidebar    : 'transmute';
@sticky     : 'transmute';
@tab        : 'transmute';
@transition : 'transmute';

/* Views */
@ad         : 'transmute';
@card       : 'transmute';
@comment    : 'transmute';
@feed       : 'transmute';
@item       : 'transmute';
@statistic  : 'transmute';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : '../../semantic/src/site/';

/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */