.home-page-container {
    /* background-image: url('/images/bg.png'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-page-container .hero {
    text-align: center;
    height: 700px;
}

.particle-container {
    height: 100%;
}

.particle-container div canvas {
    max-height: 700px;
}

.home-page-container .hero .hero-content {
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
}

.home-page-container .hero h1 {
    color: white;
    font-size: 3.45em;
    font-weight: 400;
}

.home-page-container .hero h1 span {
    color: #159b7b;
}

.home-page-container .hero h2 {
    line-height: 1.6;
    color: white;
    padding: 20px 20%;
    font-weight: 100;
    font-size: 1.5em;
}
