

.ti-particle{
  /*background-color: rgba( 00,77,64, 0.90);*/
  /*background-color: rgba( 00,0,0, 0.7);*/
  background-color: rgba( 33,33,33, .85);
  background-blend-mode: darken;  
  height: 100%;
  
}
